<% title "Konts" %>

<table cellspacing="20">
  <tr>
    <th style="text-align: left">Imię</th>
    <th style="text-align: left">Nazwisko</th>
    <th style="text-align: left">Stanowisko</th>
   
  </tr>
  <% for kont in @konts %>
    <tr>
      <td><%= kont.imie %></td>
      <td><%= kont.nazwisko %></td>
      <td><%= kont.stanowisko %></td>
     
      <td style="text-align: right"><%= link_to "Pokaż", kont %></td>
    </tr>
  <% end %>
</table>


<p><%= paginate @konts %></p>
<p style="text-align: right; font-size: 14px; font-weight: bold; margin: 2em 0;"><%= link_to "Dodaj kontakt", new_kont_path %></p>

<%= form_tag konts_path, :method => :get, :id => "konts_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

